.page {
    height: 100%;
    background-color: var(--color-ui-background);
    text-align: center;
}

.pageMain {
    text-align: initial;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: color-mix(in srgb, var(--color-ui-primary) 0.5%, white);
    border: 1px solid rgba(var(--color-ui-foreground-rgb), 0.15);
    border-top: none;
    border-bottom: none;
}