.page {
    height: 100%;
    background-color: var(--color-ui-background);
}

.header {
    display: flex;
    padding: 12px;
}

.titleContainer {
    flex: 1;
    margin: 0 12px;
    text-align: center;
    align-self: center;
}

.subtitle {
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.8;
}

.list {
    padding: 0 12px 12px;
}

.item {
    margin-bottom: 8px;
}