.container {
    text-align: center;
    background-color: wheat;
    padding: 50px;
    min-height: 100vh;
}

.paper {
    background-color: white;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    padding: 1cm;
    font-size: large;
    box-shadow: .1cm .2cm .2cm rgba(0,0,0, 0.5);
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.paper p {
    margin-bottom: 1em;
}

.blankSpace {
    border: none;
    border-bottom: 1px solid darkgray;
    text-align: center;
}

.date {
    width: 6em;
}