.controlPanel {
    position: sticky;
    left: 0;
    top: 0;
    padding: 8px 12px;
    text-align: right;
    border-bottom: 1px solid lightgray;
}

.zoomControl {
    display: inline-flex;
    margin-right: 12px;
}

.zoomContainer {
    width: 150px;
    margin: 0 16px 0 10px;
}