.timeline {
    font-size: 14px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.viewport {
    overflow-y: scroll;
    flex: 1;
}

.timelineContent {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100%;
}

.periods {
    position: sticky;
    top: 0;
}
.periodLane {
    position: relative;
    height: 23px;
}
.period {
    position: absolute;
    top: 0;
    background-color: aquamarine;
    border: 1px solid lightseagreen;
    border-top: none;
    border-left: none;
    padding: 2px 8px;
    /* border-radius: 2px; */
}
.period.weekend {
    background-color: rgb(239, 203, 145);
    border: 1px solid rgb(144, 114, 24);
    border-top: none;
    border-left: none;
}
.periodLabel {
    position: sticky;
    left: 8px;
}

.annotations {
}
.annotationLane {
    position: relative;
    height: 22px;
}
.annotation {
    position: absolute;
    height: calc(100% + 8px);
    top: -8px;
    background-color: rgba(239, 220, 145, 0.2);
    border: 1px solid rgba(144, 120, 24, 0.3);
}
.annotationLabel {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    background-color: rgba(239, 220, 145, 0.8);
    border: 1px solid rgba(144, 120, 24, 0.8);
}

.timelineRows {
}
.timelineRow {
    padding-top: 4px;
    position: relative;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.timelineRowTitle {
    padding: 4px 8px;
    position: sticky;
    left: 0;
    opacity: 0.8;
}
.timelineRowLanes {
    border-left: none;
    border-right: none;
    padding: 5px 0;
    position: relative;
}
.timelineRowLane {
    position: relative;
    height: 32px;
    padding: 4px 0;
}

.timelineCard {
    position: absolute;
    top: 0;
    background-color: rgb(145, 239, 189);
    border: 1px solid rgb(54, 144, 24);
    border-radius: 2px;
    white-space: nowrap;
    padding: 2px 2px;
}
.timelineCardLabel {
    position: sticky;
    left: 2px;
}

.highlightedCard::after,
.highlightedCard::before {
    content: " ";
    position: absolute;
    width: calc(100% + 2px); /* left border + right border */
    height: 100vh;
    left: -1px; /* left border */
    background-color: rgba(255, 0, 0, 0.1);
    border: 1.5px dashed rgba(255, 0, 0, 0.25);
    border-top: none;
    border-bottom: none;
}

.highlightedCard::after {
    top: 100%;
}
.highlightedCard::before {
    bottom: 100%;
}

.timelineCardDetails {
    padding: 4px 8px;
}

.todayMarker {
    position: absolute;
    left: -1px;
    top: 0;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(82, 148, 162);
}
.todayMarker::before {
    content: " ";
    border-left: 2px dashed rgba(82, 148, 162, 0.5);
    position: absolute;
    left: -1px;
    top: 0;
    height: 100vh;
}