.container {
    padding: 12px 12px 0;
}

.banner {
    height: 56px;
    padding: 5px;
    border-radius: 30px;
    background-color: color-mix(in srgb, var(--color-ui-custom-2) 60%, white);
    border: 2px solid color-mix(in srgb, var(--color-ui-custom-2) 100%, white);
    border-bottom-width: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  var(--color-ui-custom-2);
}

.rewardIcon {
    width: 1.5em;
    vertical-align: middle;
    margin-right: 12px;
}