.layout {
    display: flex;
}

.indicator {
    width: 14px;
    margin-right: 8px;
    align-self: top;
}

.mainBody {
    flex: 1;
}

.reward {
    width: 50px;
    align-self: top;
    text-align: right;
}

.rewardAmount {
    vertical-align: middle;
}

.rewardIcon {
    width: 1.5em;
    vertical-align: middle;
}

.details {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid color-mix(in srgb, var(--color-ui-foreground) 15%, white);
}